<a href="https://colab.research.google.com/github/bhimra/PythonBay/blob/master/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nested_list=[10,20,30,['A','O'],90,100,10000,'bye','80','200',800,50,20000]

In [ ]:
#extract all the items from 5th index to last element in nested
#formula : list_name[ startindex : finishIndex+1]

nested_list[5:10]

NameError: name 'nested_list' is not defined

In [ ]:
nested_list[3:10:3]

In [ ]:
### extract items by jumping certain elements
## list_name[ startindex :finishindex+1, no. of items from cuurent item you want]
nested_list[1:10:2]

[20, ['A', 'O'], 100, 'bye', '200']

In [ ]:
nested_list[1:10:4]

[20, 100, '200']

In [ ]:
nested_list[0:10:4]

[10, 90, '80']

In [ ]:
nested_list=[10,20,30,['A','O'],90,100,10000,'bye','80','200',800,50,20000,80000,50000]

In [ ]:
nested_list[3:10:3]

[['A', 'O'], 10000, '200']

In [ ]:
nested_list[-1]

20000

In [ ]:
nested_list[-3]

800

In [ ]:
nested_list[-6:15]

['200', 800, 50, 20000, 80000, 50000]

In [ ]:
nested_list[-6:]

['200', 800, 50, 20000, 80000, 50000]

In [ ]:
nested_list[-8:-2]
# 8last , 3 last number

['bye', '80', '200', 800, 50, 20000]

# method in a list

In [ ]:
ML=['tarun','anurag','pranav','sri']

In [ ]:
ML.append('preeti')

In [ ]:
ML

['tarun', 'anurag', 'pranav', 'sri', 'preeti']

In [ ]:
YL=[10,20,30]

In [ ]:
ML.append(YL)

In [ ]:
ML

['tarun', 'anurag', 'pranav', 'sri', 'preeti', [10, 20, 30]]

In [ ]:
ML.extend(YL)   ##each item is separtely added to list

In [ ]:
ML

['tarun', 'anurag', 'pranav', 'sri', 'preeti', [10, 20, 30], 10, 20, 30]

In [ ]:
ML.insert(2,'hello')

In [ ]:
ML

['tarun',
 'anurag',
 'hello',
 'pranav',
 'sri',
 'preeti',
 [10, 20, 30],
 10,
 20,
 30]

In [ ]:
ML.pop(3)

'pranav'

In [ ]:
ML.remove('hello')

In [ ]:
ML.pop(5)

In [ ]:
ML=['tarun', 'anurag', 'sri', 'preeti',10, 20, 30, 10, 20, 30,50,60,70]

In [ ]:
marks=[40,30,80,50,90,10,95,93,62,70]

In [ ]:
marks.sort()

In [ ]:
marks

[10, 30, 40, 50, 62, 70, 80, 90, 93, 95]

In [ ]:
marks.sort(reverse=True)

In [ ]:
stu_names=['tarun','anurag','pranav','sri']

In [ ]:
stu_names.reverse()

In [ ]:
stu_names

['sri', 'pranav', 'anurag', 'tarun']

In [ ]:
stu_names[2]='himanshu'  ###replace

In [ ]:
stu_names

['sri', 'pranav', 'himanshu', 'tarun']

In [61]:
stu_names_desc=

SyntaxError: invalid syntax (<ipython-input-61-19f3c8cabd2e>, line 1)

# TUPLE

1. tuple is a datatype which is stored in a round bracket.
2. Supports indexing.
3. It allows multiple datatypes inside it
4. tuples are immutables whereas lists are mutable.

In [63]:
tuple_1=()
print(type(tuple_1))

<class 'tuple'>

In [64]:
t_obj=(12,38.9,'h',True,[12,'a',89])

In [65]:
t_obj

(12, 38.9, 'h', True, [12, 'a', 89])

In [66]:
#out = (38.9,'h',True)
t_obj[1:4]

(38.9, 'h', True)

In [67]:
t_obj[2]='pranav' #this property of tuple is 'immutablity unlike lists which are mutable'.

TypeError: 'tuple' object does not support item assignment

# Difference between list & tuple.
1. list is declared in [] wheras tuples in ().
2. list = mutables & tuples = immutable.
3. tuples are faster than lists.

# Dictionary
A Python dictionary is a data structure that stores the value in key: value pairs. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

Example: Here, The data is stored in key:value pairs in dictionaries, which makes it easier to find values.

In [72]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [74]:
d = {'name':'sri', 'age':20,'hobby':'book','drink':'tea'}
d['age']

20

In [81]:
d.keys()

dict_keys(['name', 'age', 'hobby', 'drink'])

In [80]:
d.values()

dict_values(['sri', 20, 'book', 'tea'])

In [82]:
d.items()

dict_items([('name', 'sri'), ('age', 20), ('hobby', 'book'), ('drink', 'tea')])

# How to Create a Dictionary
In Python, a dictionary can be created by placing a sequence of elements within curly {} braces, separated by a ‘comma’.

In [69]:
# create dictionary using { }
d1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d1)

# create dictionary using dict() constructor
d2 = dict(a = "Geeks", b = "for", c = "Geeks")
print(d2)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{'a': 'Geeks', 'b': 'for', 'c': 'Geeks'}



1. From Python 3.7 Version onward, Python dictionary are Ordered.
2. Dictionary keys are case sensitive: the same name but different cases of Key will be treated distinctly.
3. Keys must be immutable: This means keys can be strings, numbers, or tuples but not lists.
4. Keys must be unique: Duplicate keys are not allowed and any duplicate key will overwrite the previous value.
5. Dictionary internally uses Hashing. Hence, operations like search, insert, delete can be performed in Constant Time.

# Accessing Dictionary Items.

We can access a value from a dictionary by using the key within square brackets or get()method.

In [70]:
d = { "name": "Alice", 1: "Python", (1, 2): [1,2,4] }

# Access using key
print(d["name"])

# Access using get()
print(d.get("name"))

Alice
Alice

# Adding and Updating Dictionary Items
We can add new key-value pairs or update existing keys by using assignment.

In [71]:
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}

# Adding a new key-value pair
d["age"] = 22

# Updating an existing value
d[1] = "Python dict"

print(d)

{1: 'Python dict', 2: 'For', 3: 'Geeks', 'age': 22}

In [ ]:
## read from different site,
## try to read abt if-else  statemnt loops (for & while )