<a href="https://colab.research.google.com/github/bhimra/PythonBay/blob/master/python_weekend_2nd_feb_class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
10/2

5.0

In [ ]:
"10"/2. # string cant be divided by integer

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
num = 10/2
num

5.0

In [ ]:
type(num) ## type() is used to know the datatype

float

In [ ]:
num1 = "10"

In [ ]:
type(num1)

str

In [ ]:
num2 = 50

In [ ]:
type(num2)

int

In [ ]:
"""
1.convert num to int and string
2.conver num1 to int and float
3.convert num2 to float and string
"""

In [ ]:
## 1
num_int = int(num)
num_str = str(num)


print(type(num_int))

print(type(num_str))

<class 'int'>
<class 'str'>

In [ ]:
#2
num1_int = int(num1)
num1_float = float(num1)
print(type(num1_int))
print(type(num1_float))

<class 'int'>
<class 'float'>

In [ ]:
#3
num2_float = float(num2)
num2_str = str(num2)
print(type(num2_float))
print(type(num2_str))

<class 'float'>
<class 'str'>

In [ ]:
num2

50

In [ ]:
num = input("enter a number")
print(num,type(num))

enter a number100
100 <class 'str'>

In [ ]:
num1 = int(input("enter a number"))
print(num1,type(num1))

enter a number200
200 <class 'int'>

In [ ]:
num = int(input("enter a number : "))

if num%2 == 0:
    print("even")
else:
    print("odd")

enter a number : 500
even

In [ ]:
## write a code to print if a num is positive,negative or zero

In [ ]:
## write a code to print fail for marks less than 30,
## average for 30-50 , good for 50-80 , excellent for 80-100

In [ ]:
### i. write a code to print "leap year b/w 1500-2025"
#      if an year lies between 1500-2025 and is a leap year

        # hint : ((year>=1500 and year <=2025) and (year %4 == 0))
#  ii. if its a leap year before 1500
# iii. leap year after 2025
# iv.  not a leap year

In [ ]:
# q3
year = int(input("Enter a year"))

if ((year>=1500 and year <=2025) and year % 4 ==0):
  print("It is a leap year and between 1500-2025")

elif ((year<1500) and year % 4 ==0):
  print("It is a leap year before 1500")

elif ((year>2025) and year % 4 ==0):
  print("It is a leap year after 2025")

else:
  print("Not a leap year")

Enter a year1267
Not a leap year

In [ ]:
#q2
num=int(input("Enter a number"))

if num<30:
 print("You are fail")

elif num>=30 and num<=50:
 print("Your performance is average")

elif num>=51 and num<=80:
 print("Your performance is good")

elif num>80 and num <=100:
 print("Your performance is Excellent")

elif num>100:
 print("Invalid input")

Enter a number-42
You are fail

In [ ]:
#q1

num=int(input("Enter a number"))
if num>0:
 print("Number is positive")
elif num<0:
 print("Number is negative")
elif num==0:
 print("Number is Zero")

Enter a number-63
Number is negative

In [ ]:
### [1232,2345,1234,1232,3242,6540,1221,8098,7680]

In [ ]:
# q3
year = int(input("Enter a year"))

if ((year>=1500 and year <=2025) and year % 4 ==0):
  print("It is a leap year and between 1500-2025")

elif ((year<1500) and year % 4 ==0):
  print("It is a leap year before 1500")

elif ((year>2025) and year % 4 ==0):
  print("It is a leap year after 2025")

else:
  print("Not a leap year")

Enter a year2345
Not a leap year